@page
@model ScrimOrganizerV2.Pages.VersusPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VersusTeam</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="VersusTeam.Team1ID" class="control-label">Blue Side</label>
        </dt>
        <dd>
            @foreach (var summoner in Model.ShowStatsSummoner)
            {
                <div class="SummonerNames"> <br />
                    @Html.DisplayName(summoner.summonerName)
                    
                    <div class="SummonerStats">
                        @Html.DisplayName(summoner.tier)
                        <span></span>
                        @Html.DisplayName(summoner.rank)
                        <br />
                    </div>
                </div>
            }

        </dd>
        <dt class="col-sm-2">
            <label asp-for="VersusTeam.Team1ID" class="control-label">Red Side</label>
        </dt>
        <dd>
            @foreach (var summoner in Model.ShowStatsSummoner2)
            {
                <div class="SummonerNames"> <br />
                    @Html.DisplayName(summoner.summonerName)
                    
                    <div class="SummonerStats">
                        @Html.DisplayName(summoner.tier)
                        <span></span>
                        @Html.DisplayName(summoner.rank)
                        <br />
                    </div>
                </div>
            }

        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.VersusTeam.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
