@page
@model ScrimOrganizerV2.Pages.VersusPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Blue side</p>
            </th>
            <th>
                <p>Red Side</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var versusTeam in Model.VersusTeam)
        {
            <tr>
                <td>
                    @foreach (var team in Model.Teams)
                    {
                        if (versusTeam.Team1ID == team.ID)
                        {
                            @Html.DisplayFor(modelItem => team.Name)
                        }
                    }

                </td>
                <td>
                    @foreach (var team in Model.Teams)
                    {
                        if (versusTeam.Team2ID == team.ID)
                        {
                            @Html.DisplayFor(modelItem => team.Name)
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@versusTeam.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@versusTeam.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@versusTeam.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
